.album .page {
    flex: 50%;
    display: flex;
    flex-direction: row;
    animation: slide 10s infinite;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s ease-in-out;
}

.album .page:nth-child(1) {
    animation-delay: 5s;
}

.album .page:nth-child(2) {
    animation-delay: 6s;
}

.album .page:nth-child(3) {
    animation-delay: 9s;
}

@keyframes slide {
    10% {
        opacity: 1;
    }

    33.33% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }


}

.header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;

}

.content {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.page {
    position: absolute;
    width: 100%;
    height: 150%;
    object-fit: fill;
    border: 4px solid #cf1414;
    box-shadow: 0 4px 8px rgba(241, 59, 59, 0.2);
    transform-origin: left center;
    transform: rotateY(90deg);
    animation: openPage 1s forwards;
    animation-delay: calc(var(--i) * 0.5s);
}

@keyframes openPage {
    to {
        transform: rotateY(0deg);
    }

}

nav {
    background-color: green;
    padding: 10px;
    text-align: center;
}

nav>ul>li {
    list-style-type: none;
    display: inline;

}

nav>ul>li>a {
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 10px;
    border: 2px solid darkgreen;
    border-radius: 5px;
    gap: 5px;
}

nav>ul>li>a:hover {
    background-color: yellow;
    color: darkgreen;

}

.footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}