.album {
    position: relative;
    max-width: 50%;
    height: auto;
    overflow: outside;

}

.album {
    display: auto;
    width: 50%;
    height: auto;
}

.page {
    position: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform-origin: left center;
    transform: rotateY(90deg);
    animation: openPage 1s forwards;
    animation-delay: calc(var(--i) * 0.5s);
}

@keyframes openPage {
    to {
        transform: rotateY(0deg);
    }

}

.content {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

nav>ul>li {
    list-style-type: none;
    display: inline;

}

nav>ul>li>a {
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 10px;
}

nav>ul>li>a:hover {
    background-color: yellow;
    color: darkgreen;

}