.album .page {
    flex: 100%;
    display: flex;
    animation: slide 9s infinite;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s ease-in-out;
}

.album .page:nth-child(1) {
    animation-delay: 0s;
}

.album .page:nth-child(2) {
    animation-delay: 3s;
}

.album .page:nth-child(3) {
    animation-delay: 6s;
}

@keyframes slide {
    0% {
        opacity: 1;
    }

    33.33% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }


}

.header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;

}

.content>container m-5 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.page {
    position: absolute;
    width: 100%;
    height: 150%;
    object-fit: fill;
    border: 4px solid #cf1414;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform-origin: left center;
    transform: rotateY(90deg);
    animation: openPage 1s forwards;
    animation-delay: calc(var(--i) * 0.5s);
}

@keyframes openPage {
    to {
        transform: rotateY(0deg);
    }

}

nav {
    background-color: green;
    padding: 10px;
    text-align: center;
}

nav>ul>li {
    list-style-type: none;
    display: inline;

}

nav>ul>li>a {
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 10px;
    border: 2px solid darkgreen;
    border-radius: 5px;
    gap: 5px;
}

nav>ul>li>a:hover {
    background-color: yellow;
    color: darkgreen;

}

.footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}