.album {
    position: relative;
    max-width: 1000px;
    height: auto;
    overflow: hidden;
    margin: auto;
    display: flex;
    gap: 5px;
    justify-content: left;
    align-items: left;

}

.header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;

}

.content>container m-5 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid #cf1414;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform-origin: left center;
    transform: rotateY(90deg);
    animation: openPage 1s forwards;
    animation-delay: calc(var(--i) * 0.5s);
}

@keyframes openPage {
    to {
        transform: rotateY(0deg);
    }

}

nav {
    background-color: green;
    padding: 10px;
    text-align: center;
}

nav>ul>li {
    list-style-type: none;
    display: inline;

}

nav>ul>li>a {
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 10px;
}

nav>ul>li>a:hover {
    background-color: yellow;
    color: darkgreen;

}